<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <!-- Command definition -->
    <extension point="org.eclipse.ui.commands">
        <category
            id="com.abap.doc.commands.category"
            name="ABAP Documentation">
        </category>
        <command
            id="com.abap.doc.command.buildDag"
            name="Generate ABAP Documentation"
            categoryId="com.abap.doc.commands.category">
        </command>
    </extension>

    <!-- Menu contributions: context menu + main menu -->
    <extension point="org.eclipse.ui.menus">
        <!-- Context menu (right-click) -->
        <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <command
                commandId="com.abap.doc.command.buildDag"
                label="Generate ABAP Documentation"
                style="push">
            </command>
        </menuContribution>
        <!-- Main menu bar -->
        <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
            <menu
                id="com.abap.doc.menu"
                label="ABAP Doc">
                <command
                    commandId="com.abap.doc.command.buildDag"
                    label="Generate Documentation for Current Editor"
                    style="push">
                </command>
            </menu>
        </menuContribution>
    </extension>

    <!-- Handler -->
    <extension point="org.eclipse.ui.handlers">
        <handler
            class="com.abap.doc.plugin.handler.BuildDagHandler"
            commandId="com.abap.doc.command.buildDag">
        </handler>
    </extension>

    <!-- Keybinding: Ctrl+Shift+D -->
    <extension point="org.eclipse.ui.bindings">
        <key
            commandId="com.abap.doc.command.buildDag"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+D">
        </key>
    </extension>

    <!-- Preferences page -->
    <extension point="org.eclipse.ui.preferencePages">
        <page
            id="com.abap.doc.preferences.connection"
            class="com.abap.doc.plugin.preferences.ConnectionPreferencePage"
            name="ABAP Doc Generator">
        </page>
    </extension>

</plugin>
